<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Boot strap link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- custom css links -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_and_registration_app/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'login_and_registration_app/images/favicon.jpg' %}">
    <!-- end of custom links -->
    <title>Document</title>

    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .fill-height {
            height: 93vh;
        }

        .fill-width {
            width: 100vw;
        }

        /* #adjust-width {
            width: 10vw;
        } */

        .top-nav-color {
            background-color:#7ADA7A;
        }

        .side-nav-color {
            background-color: #707070;
        }

        .nav-msg-img {
            height: 5vh;
            width: auto;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row top-nav-color">
            <div class="col-2 custom-height side-nav-color m">
                <div class="">
                    <p class="h1 text-center mt-3 ">Logo</p>
                </div>
            </div>

            <!-- mt-auto mb-auto ml-auto mr-auto -->
            <div class="col top-nav-color d-flex bd-highlight mt-auto mb-auto">
                <div class="p-2 flex-grow-1 bd-highlight">
                    <p class="h2 d-inline text-center text-light">News Feed</p>
                </div>
                <div class="p-2 bd-highlight">
                    <form action="">
                        <input type="text" class="col-12 border rounded-pill mt-2 pb-1 text-center">
                    </form>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="###" class="btn btn-light ml-auto mt-1 rounded-pill pr-4 pl-4">Logout</a> <!-- needs link! -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 fill-height side-nav-color">
                <div class="mt-5">
                    <!-- p tags will be replaces with img tags with responsive icons-->
                    <ul class="nav navbar-nav ml-2 pl-2">
                        <li><a class="text-decoration-none text-light" href="/news">Home</a></li>
                        <li><a class="text-decoration-none text-light" href="/investments">Investments</a></li>
                        <li><a class="text-decoration-none text-light" href="/paperstocks">Paper Stocks</a></li>
                        <li><a class="text-decoration-none text-light" href="/friends">Friends</a></li>
                        <li><a class="text-decoration-none text-light" href="/communities">Communities</a></li>

                        <li class="ml-2"><a class="text-decoration-none text-light" href="/chatroom/1">Chatroom 1</a></li>
                        <li><a class="text-decoration-none text-light" href="/find_communities">Find Communities</a></li>
                    </ul>

                </div>
                <div class=" border-top border-dark mt-5">
                    <input type="text" class="mt-5 mb-3 col-12 border rounded-pill text-center">
                    <ul class="nav navbar-nav ml-2 pl-2">
                            <li class="active mt-2"><a class="text-decoration-none text-light" href="/news"> <img class="nav-msg-img" src="{% static 'login_and_registration_app/images/facebook.png' %}" /> msg preview</a></li>
                        </ul>

                </div> <!-- p tags will be replaces with img tags-->
            </div>
            <div class="col overflow-auto mt-5" style="height:80vh">
                <p class="ml-2 scrollspy overflow-auto">
                    <div class="container border border-dark mt-5 p-5">
                        <p>stock api</p>
                    </div>
                    <div class="container border border-dark mt-5 p-5">
                        <p>stock api</p>
                    </div>
                    <div class="container border border-dark mt-5 p-5">
                        <p>stock api</p>
                    </div>
                    <div class="container border border-dark mt-5 p-5">
                        <p>stock api</p>
                    </div>
                    <div class="container border border-dark mt-5 p-5">
                        <p>stock api</p>
                    </div>
                    <div class="container border border-dark mt-5 p-5">
                        <p>stock api</p>
                    </div>
                    <div class="container border border-dark mt-5 p-5">
                        <p>stock api</p>
                    </div>
                    <div class="container border border-dark mt-5 p-5">
                        <p>stock api</p>
                    </div>
                </p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>
</html>

<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/ocha" title="OCHA">OCHA</a> from <a href="https://www.flaticon.com/"title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/ocha" title="OCHA">OCHA</a> from <a href="https://www.flaticon.com/"title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
<!-- <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
<!-- <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->