<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta data -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Style -->
  {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'login_and_registration_app/css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'login_and_registration_app/images/favicon.jpg' %}">
  <title>Login</title>

<body>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId: '331708461096013',
          xfbml: true,
          version: 'v3.3'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=331708461096013&autoLogAppEvents=1"></script>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <h1>Bringing investors together</h1>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-3 border border-success rounded">
          <br>
          <form action='/login/processing' method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="emailLogin">Email</label>
              <input type="email" name="emailLogin" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="passwordLogin">Password</label>
              <input type="password" name="passwordLogin" class="form-control" placeholder="Password">
              {% if messages %}
              {% for message in messages %}
              {% if message.extra_tags == "login_credentials" %}
              <p class="text-danger">{{ message }}</p>
              {% endif %}
              {% endfor %}
              {% endif %}
            </div>
            <div class="text-center">
              <input type="submit" value="Log in!" class="btn btn-primary rounded-pill">
              <p>or Sign in with</p>
              <p>
                <div class="fb-login-button" data-width="" data-size="small" data-button-type="login_with" data-auto-logout-link="true" data-use-continue-as="true"></div>
                <a href="###"><img id="media_icon" class="loginicons" src="{% static 'login_and_registration_app/images/google-plus.png' %}" alt="google login"></a>
                <a href="###"><img id="media_icon" class="loginicons" src="{% static 'login_and_registration_app/images/linkedin.png' %}" alt="linkedin login"></a>
                <a href="{% url 'social:begin' 'github' %}"><img id="media_icon" class="loginicons" src="{% static 'login_and_registration_app/images/github.png' %}" alt="github login"></a>
              </p>
              <p>No account? <a href="/registration" class="text-danger">Sign up here!</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>

</html>
