<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
    <link rel="stylesheet" href="{% static 'login_and_registration_app/css/style.css' %}">
    <title>Home</title>
</head>

<body>

    <body>
        <div class="container-fluid">
            <div class="custom-side-nav">
                <p>hello</p>
                <p>hello</p>
                <p>hello</p>
                <p>hello</p>
                <a href="/chatroom/1" class="text-info">Chatroom 1</a>
                <a href="/investments" class="text-info">Investments</a>
                <a href="/find_chatroom" class="text-info">+</a>

            </div>
        </div>
    </body>

</html>
