/* .side-nav {
    height:100%;
    background-color:grey;
    display: inline-block;
} */

.custom-side-nav {
    height:100%;
    background-color:lightblue;
    border:black solid 2px;
}
.rounded-buttons {
  border-radius: 20px;
  margin: 5px 2px;
}
.loginicons {
  width: 50px;
}

#jumbo {
  position: relative;
  /* z-index: -101; */
  overflow: hidden;
}
#jumbo-container{
  position: relative;
  color: white;
  z-index: 2;
}
#video-background {
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}
