/* .side-nav {
    height:100%;
    background-color:grey;
    display: inline-block;
} */

.custom-side-nav {
    height:100%;
    background-color:lightblue;
    border:black solid 2px;
}
.rounded-buttons {
  border-radius: 20px;
  margin: 5px 2px;
}
.loginicons {
  width: 50px;
}

#jumbo {
  position: relative;
  /* z-index: -101; */
  overflow: hidden;
}
#jumbo-container{
  position: relative;
  color: white;
  z-index: 2;
}
#video-background {
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}

#auth-image {
  height: 20vh;
  width: auto;
}
#bottom-nav {
  background-color: black;
}

* {
    padding: 0;
    margin: 0;
}

.fill-height {
    height: 91.5vh;
}

.fill-width {
    width: 100vw;
}

.top-nav-color {
    background-color: #7ADA7A;
}

.side-nav-color {
    background-color: #707070;
}

.nav-msg-img {
    height: 5vh;
    width: auto;
}

.content-bg {
    background-color:#869091;
    width: 100%;
    height:100%;
}